{% extends 'main.html' %}

    {% block content %}
        <form name="formPainel" id="formUsers" method="post" action="/dologin/">
            <div class="col-6 mt-4 m-auto">
                {% if msg %}
                    <div class="alert {{class}}" >
                        {{msg}}
                    </div>
                {% endif %}
                {% csrf_token %}
                <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome de usuário:">
                <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha:">
                <input class="btn btn-primary mt-4" type="submit" value="Entrar"><br>
                <a href="/">Voltar ao menu principal</a>
            </div>
        </form>
    {% endblock %}